body {
    margin: 0px;
	font-family:raleway,serif;
	font-size:17px;
}

a{
    text-decoration: none;
    color: black;
}

#pagetop{
    bottom: 2%;
    right: 2%;
    position: fixed;
    z-index: 1;
}

#pagetop img{
    width: 50px;
}

@media(max-width: 768px){
#pagetop{
    bottom: 2%;
    right: 5%;
    position: fixed;
    z-index: 1;
}

#pagetop img{
    width: 40px;
}
}

.image {
    background: url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
    background-size: cover;
    height: 450px;
    z-index: -1;
    background-attachment: fixed;
}

@media (max-width:1000px){
	.image {
    height:auto;
}
}

.image1 {
    background: url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    content: "About Us";
}

@media (max-width:1000px){
	.image1 {
    height:120px;
}
}


header {
  width: 100%;
}

.logo {
  float: left;
  margin-left: 2%;
  width: 130px;
}

header nav {
  float: right;
  margin-right: 3%;
  margin-top: 2%;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li ul {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  font-weight: bold;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



header nav ul li ul li a{
  color:black;
  padding: 12px 12px;
  font-family: raleway, serif;
  text-align: left;
}

header nav ul li ul li {
  display: block;
}

header nav ul li a {
    background-color: transparent;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, serif;
    text-align: center;
    font-weight: bold;
    display: block;
}

header nav ul li:hover ul {
  display: block;
}

header nav ul li a:hover {
    border-bottom: 2px solid rgb(255, 102, 0);
}

header nav ul li ul li a:hover {
    background-color: rgb(255, 102, 0);
}

.active1 {
  background-color: rgb(255, 102, 0);
  border-radius: 8px;
}


.menu-toggle {
  color: #fff;
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1100px) {
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    top: 80px;
    width: 100%;
	left:-100%;
    height: auto;
    background: transparent;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
	background:#333;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
 
  header nav ul li:hover ul {
    position: relative;
	color:black;
  }
  header nav ul li ul li a{
  text-align: center;
}
  header nav ul li ul li {
    width: 100%;
  }
}

#innercontent {
    display: flex;
    margin-top: 5%;
    overflow: none;
    flex-direction: row;
}

.innertext {
    width: 55%;
    text-align: center;
    margin-left: 1%;
    color: white;
}

.innertext p {
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
}

.innertext a {
    padding: 14px 35px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

@media (max-width:1000px){
	.innertext {
    width: 100%;
	margin-left:0;
}
.innertext a {
    margin-bottom:30px;
}
}

#innerimage {
    width: auto;
    margin-top: -5%;
    box-shadow:0px 40px 15px -35px rgba(0,0,0,.45);
} 

@media(max-width: 800px){
	#innerimage{
   display:none;
} 
}

.ie_heading{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

@media(max-width: 900px){
.ie_heading{
    width: 90%;
    font-size: 40px;
}
}

.design {
    text-align: center;
    float: right;
    width: 400px;
    height: 170px;
    margin-right: 3%;
    margin-top: 2%;
    font-size: 50px;
    font-weight: 900;
    background-color: rgba(255, 102, 0, 0.8);
    text-shadow: 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

@media(max-width: 900px){
	.design {
    float: left;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 0;
}
}

.clear {
    clear: both;
}

.paragraph {
    line-height: 30px;
    padding: 5px;
    text-align: justify;
    margin-left: 10%;
}

.paragraph p{
	float:left;
	width:62%;
}

.paragraph .fb-page{
	margin-left:4%;
	margin-top:2%;
}

@media(max-width: 900px){
.paragraph {	
    margin-left: 5%;
}
.paragraph p{
	float:left;
	width:95%;
}
.paragraph .fb-page{
	margin-left:0%;
	margin-top:2%;
}
}

.ie_paragraph{
    width: 55%;
    margin: auto;
    text-align: center;
}

.ie_paragraph ul{
    text-align: left;
    font-size: 19px;
}

.ie_paragraph ul li{
    line-height: 30px;
}

@media(max-width: 900px){
.ie_paragraph{
    width: 90%;
}
}

.service {
    background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
    height: 250px;
    width: 100%;
    margin-top: 5%;
    display: inline-block;
}

#serviceheading {
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    font-family: roboto, serif;
    color: white;
    text-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.subservice {
    width: 320px;
    height: 400px;
    background-color: #e6f0ff;
    margin-left: 10px;
    display: inline-block;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.subservice p {
    font-size: 35px;
    font-weight: bold;
    width: 200px;
    padding-left: 10px;
    float: left;
}

.subservice svg {
    width: 70px;
    height: 70px;
    background-color: none;
    margin-top: 40px;
    margin-left: 25px;
}

.subservice span {
    width: 250px;
    line-height: 30px;
    margin-top: 50px;
    text-align: justify;
}

.subservice a {
    padding: 10px 30px;
    float: right;
    background-color: rgba(255, 102, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: roboto, serif;
    margin-right: 20px;
}

.subservice a:hover {
    background-color: rgb(255, 102, 0);
}

@media(max-width: 900px){
	.service {
		width:auto;
}
	
	.subservice {
		margin:auto;
		width:80%;
		height:auto;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom:10%;
}
	
	.subservice p {
    font-size: 25px;
    width: auto;
    text-align:center;
    float: left;
}

    .subservice svg {
    width: 70px;
    height: 70px;
	margin-top: 0;
    margin-left: 35%;
}
.subservice span {
    margin-top: 20px;
}
.subservice a {
    float: right;
    margin-right: 20%;
}
}

.aboutproducts{
    background: url('../images/backgrounds-blank-blue-953214.jpg') no-repeat center;
    background-size: cover;
    height: auto;
    z-index: -1;
    background-attachment: fixed;
    padding: 15px 50px;
    color: white;
}

.aboutproducts .left_points{
    width: 45%;
    float: left;
}

.aboutproducts .right_points{
    width: 45%;
    float: right;
}

.aboutproducts .points_img{
    margin: auto;
    width: 40%;
}

.aboutproducts .divider{
    border: 3px solid white;
    width: 100%;
    margin-top: -4px;
}

@media(max-width: 900px){
.aboutproducts .left_points{
    width: 90%;
    float: left;
}

.aboutproducts .right_points{
    width: 90%;
    float: left;
}

.aboutproducts .points_img{
    margin: auto;
    width: 100%;
}

.aboutproducts .points_img img{
    width: 100%;
}
}

.aboutproducts p{
    text-align: center;
    font-weight:  bolder;
    font-size: 40px;
}

.aboutproducts .aboutproductsdata{
    margin: auto;
    width:60%;
    text-align: right;
}

.aboutproducts .aboutproductsdata2{
    margin: auto;
    width:60%;
    text-align: center;
    line-height: 30px;
}

@media(max-width: 900px){
.aboutproducts .aboutproductsdata2{
    margin: auto;
    width:100%;
    text-align: center;
    line-height: 30px;
}
}

.aboutproducts .aboutproductsdata img{
    float: left;
}

@media(max-width: 900px){
    .aboutproducts p{
    text-align: left;
    font-size: 30px;
}
    .aboutproducts .aboutproductsdata{
    margin: auto;
    width:100%;
    text-align: left;
}
}

.qoutes{
    text-align: center;
    width: 100%;
    height: 270px;
    padding: 20px 0;
}

.qoutes hr{
   margin: auto;
   width: 5%;
}

.qoutes .slideshow{
    overflow: hidden;
    color: black;
}

.item-1, 
.item-2, 
.item-3,
.item-4  {
    position: absolute;
    display: block;
    width: 50%;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 26%; 
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

.item-3{
    animation-name: anim-3;
}

.item-4{
    animation-name: anim-4;
}


@keyframes anim-1 {
    0%, 5% { display: none; opacity: 0; }
  5%,20% { opacity: 1; }
  25%, 100% { display: none; opacity: 0; }
}

@keyframes anim-2 {
    0%, 25% { display: none; opacity: 0; }
  30%, 45% { opacity: 1; }
  50%, 100% { display: none; opacity: 0; }
}

@keyframes anim-3 {
    0%, 50% { display: none; opacity: 0; }
  55%, 70% { opacity: 1; }
  75%, 100% { display: none; opacity: 0; }
}

@keyframes anim-4 {
    0%, 75% { display: none; opacity: 0; }
  80%, 95% { opacity: 1; }
  100% { display: none; opacity: 0; }
}

@media(max-width: 900px){
.qoutes{
    height: 330px;
}

.qoutes hr{
   width: 7%;
}


.item-1, 
.item-2, 
.item-3,
.item-4  {
    width: 90%;
    font-size: 25px;
    margin-left: 5%; 
}
}

.aboutproducts .demo{
    margin: auto;
    width: 40%;
}

.aboutproducts .demo .demoform input[type=text]{
    width: 48.5%;
    padding: 5px 0;
    border-radius: 3px;
    border: none;
    margin-bottom: 2%;
}

.aboutproducts .demo .demoform textarea{
    width: 97%;
    height: 120px; 
    border-radius: 3px;
    border: none;
    margin-bottom: 2%;
}

.aboutproducts .demo .demoform input[type=submit]{
    width: 98%;
    padding: 7px 0;
    border-radius: 3px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.aboutproducts .demo .demotext .span1{
    width: 40%;
    float: left;
    font-size: 15px;
    border-right: 1px solid white;
    font-weight: bold;
}

.aboutproducts .demo .demotext .span2{
    width: 27%;
    float: left;
    font-size: 15px;
    border-right: 1px solid white;
    font-weight: bold;
}

.aboutproducts .demo .demotext .span3{
    width: 31%;
    float: left;
    font-size: 15px;
    margin-left: 5px; 
    font-weight: bold;
}

@media(max-width: 900px){
.aboutproducts .demo{
    margin: auto;
    width: 100%;
}

.aboutproducts .demo .demotext .span1{
    width: 100%;
    border: none;
    text-align: center;
}

.aboutproducts .demo .demotext .span2{
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: center;
}

.aboutproducts .demo .demotext .span3{
    width: 100%;
    float: left;
    margin-left: 0px; 
    text-align: center;
}
}

.blog-background{
    background-color: white;
    width: 70%;
    margin: auto;
    height: auto;
    color: black;
}

.inner-blog-box{
    width: 90%;
    margin: auto;
    border: 1px solid grey;
}

.inner-blog-box img{
    width: 100%;
}

.inner-blog-box .blog-heading{
    font-size: 22px;
    text-align: left;
    margin-left: 5%;
    width: 90%;
}

.inner-blog-box .blog-heading:hover{
    color: #15B7F3;
}

.inner-blog-box .blog-desc{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    font-weight: normal;
    width: 90%;
    overflow: hidden;
    height:35px;
}

.inner-blog-box hr{
    width: 90%;
    margin-left: 5%;
}

@media(max-width: 900px){
.blog-background{
    width: 90%;
}
}

.sub-blog-box{
    width: 90%;
    margin: auto;
    border: 1px solid grey;
    height: auto;
}

.sub-blog-box img{
    width: 100%;
}

.sub-blog-box .sub-blog-heading{
    font-size: 22px;
    text-align: left;
    margin-left: 5%;
    width: 90%;
}

.sub-blog-box .sub-blog-desc{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    font-weight: normal;
    width: 90%;
}

.sub-blog-box span{
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 900px){
.sub-blog-box{
    width: 90%;
    margin: auto;
    border: 1px solid grey;
    height: auto;
}

.sub-blog-box img{
    width: 100%;
}

.sub-blog-box .sub-blog-heading{
    font-size: 22px;
    text-align: left;
    margin-left: 5%;
    width: 90%;
}

.sub-blog-box .sub-blog-desc{
    font-size: 15px;
    text-align: justify;
    margin-left: 5%;
    font-weight: normal;
    width: 90%;
}

.sub-blog-box span{
    font-size: 18px;
    font-weight: bold;
}
}


.about {
    margin-top: 50px;
    margin-left: 130px;
    padding: 8px;
    width: 30%;
    height: 90px;
    background-color: rgba(255, 102, 0, 0.8);
    border-radius: 10px 10px;
}

.first {
    margin-top: 17px;
    text-align:center;
    font-size: 50px;
}

@media (max-width:1000px){
	.about {
	padding: 0;
    width: 100%;
    height: 90px;
	margin-left:0px;
	margin-top: 30px;
	text-align:center;
}
.first {
    padding-top:10px;
}
}

.pagetitle {
    margin-top: 25px;
    margin-left: 30%;
    padding: 8px;
    width: 40%;
    height: 90px;
    background-color: rgba(255, 102, 0, 0.8);
    border-radius: 10px 10px;
}

.pagetitle p {
    margin-top: 20px;
    text-align:center;
    font-size: 45px;
}
@media (max-width:1000px){
	.pagetitle {
    margin-top: 0px;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 90px;
}

.pagetitle p {
    margin-top: 0px;
    padding-top:10px;
}
}

@media (max-width:480px){
	.pagetitle {
    height: 120px;
}
}

.intro{
	margin-left:10%;
}

.intro p{
	width:50%;
	text-align:justify;
	line-height:30px;
	float:left;
}

.intro img{
	border-radius:50%;
	height:400px;
	margin-right:8%;
	float:right;
}

@media (max-width:1000px){
	.intro{
	margin-top:7%;
	margin-left:5%;
}

.intro p{
	width:95%;
	float:left;
}

.intro img{
	border-radius:50%;
	height:300px;
	margin-right:12%;
	float:right;
}
}


.contactall{
	width:100%;
	display:flex;
	margin-top: 70px;
}

.form {
    margin-left: 10%;
    margin-top: 5%;
    display:flex;
	justify-content:flex-start;
}

.form .form1 .form2 {
    padding: 7px 197px 7px 5px;
    margin-bottom: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    border-bottom: 2px solid grey;
}

.form .form1 .form3 {
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
}

.form .form1 .form4 {
    padding: 15px 40px;
    margin-left: 120px;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form .form1 .form2:focus {
    padding: 7px 197px 7px 5px;
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.form .form1 .form4:hover {
    padding: 15px 40px;
    margin-left: 120px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
}

.contactdetail {
    margin-left: 12%;
	margin-top:-30px;
	display: flex;
	justify-content:flex-end;
	flex-direction:column;
}

.contactdetail h1 {
    margin-left: 25%;
}

.detail {
	width:60%;
    margin-left: 10%;
}

.detail img {
    height: 60px;
    width: 60px;
    float: left;
}

.detail p {
    margin-left: 80px;
	width:70%;
	color:black;
}

.detail a{
	text-decoration:none;
	cursor: pointer;
}

@media(max-width:800px){
	.contactall{
	display:block;
}

.form {
    margin-left: 5%;
    display:flex;
	justify-content:initial;
}

.form .form1 .form2 {
    padding: 7px 0;
	width: 90%;
}

.form .form1 .form3 {
    width: 90%;
}

.form .form1 .form4 {
    margin-left: 30%;
}

.form .form1 .form2:focus {
    padding: 7px 0;
	width: 90%;
}

.form .form1 .form4:hover {
    margin-left: 30%;
}

.contactdetail {
    margin-left: 5%;
	margin-top:0px;
	display: flex;
	justify-content:initial;
	flex-direction:column;
}

.contactdetail h1 {
    margin-left: 0;
}

.detail {
	width:100%;
    margin-left: 0;
}

.detail img {
    height: 60px;
    width: 60px;
    float: left;
}

.detail p {
    margin-left: 80px;
	width:70%;
	color:black;
}

.detail a{
	text-decoration:none;
	cursor: pointer;
}
}

.job_form {
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: 70px;
    background-color: #f0f5f5;
    font-family: raleway, serif;
}

.job_form h1 {
    padding: 20px 0px 0px 20px;
}

.job_form hr {
    width: 95%;
    margin: auto;
}

.job_form p {
    width: 95%;
    text-align: left;
    margin: auto;
    padding-top: 20px;
    line-height: 30px;
}

.job_form form {
    width: 95%;
    margin: auto;
}

.job_form form label {
    font-weight: bold;
}

.job_form form .name {
    padding: 9px 150px 9px 5px;
    margin: 10px 30px 0px 0px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

.job_form form .email {
    padding: 9px 510px 9px 5px;
    margin: 10px 30px 0px 0px;
    border-radius: 5px;
    border: 0.5px solid grey;
}

.job_form form .submit {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 40%;
	cursor:pointer;
}

.job_form form .textarea1{
	width: 89%;
}


@media(max-width:900px){
	.job_form {
    height: auto;
    width:90%;
    margin: auto;
}

.job_form form .name {
    padding: 9px 38% 9px 5px;
}

.job_form form .email {
    padding: 9px 38% 9px 5px;
}

.job_form form .textarea1{
	width: 89%;
}

.job_form form .submit {
    margin-left: 30%;
}
}

.table1{
	background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
	width:70%;
	margin:auto;
	padding-left:10px;
	line-height:25px;
	text-align:justify;
}

.td1{
	font-size: 25px;
    padding-top: 10px;
	font-weight:bold;
	padding-bottom:10px;
}

.td2{
	color:white;
	font-size:16px;
}

.td2 a{
	text-decoration:none;
	float:right;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
	color:black;
	font-size:20px;
	font-weight:bold;
	background-color:white;
	padding:8px 18px;
	cursor:pointer;
}

.td2 a:hover{
	background:none;
	color:white;
}

@media (max-width:900px){
	.table1{
	width:80%;
	text-align:left;
}
}

.container{
	display:flex;
	justify-content:space-around;
}

.box{
	height:90px;
	width:250px;
	display:inline-block;
	text-align:center;
}

@media (max-width:900px){
	.container{
	display:block;
	justify-content:none;
	margin-left:10%;
}

.box{
	margin-top:10%;
	height:auto;
	width:80%;
	display:inline-block;
}
}

footer {
    height: 50px;
	width:100%;
	background: linear-gradient(to right, rgba(40, 108, 154, 1) 0%, rgba(38, 117, 207, 1) 0%, rgba(40, 159, 210, 1) 41%, rgba(40, 159, 210, 1) 56%, rgba(40, 108, 154, 1) 100%);
}

footer .copyright{
	padding-left:8px;
	float:left;
	height:0;
}

.widgets{
	float:right;
	margin-top:6px;
}

.widgets a{
	margin-right:10px;
}

@media(max-width:463px){
footer {
    height: 80px;
}

footer .copyright{
	float:none;
	margin-left:10%;
}

.widgets{
	float:none;
	margin-top:30px;
	margin-left:30%;
}

.widgets a{
	margin-right:0px;
}
}

@media(max-width:320px){
footer {
    height: 80px;
}

footer .copyright{
	float:none;
	margin-left:2%;
}

.widgets{
	float:none;
	margin-top:30px;
	margin-left:30%;
}

.widgets a{
	margin-right:0px;
}
}